@model IEnumerable<QuanLyNongTraiLonThit.TienIch.PhieuXuatThucAn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatNuoi.MaChuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatNuoi.MaChuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayXuat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPXTA }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPXTA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPXTA })
        </td>
    </tr>
}

</table>
