@model QuanLyNongTraiLonThit.TienIch.Giong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Giong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGiong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGiong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianThuHoach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianThuHoach)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGiong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
