@model QuanLyNongTraiLonThit.TienIch.Giong

@{
    ViewBag.Title = "Chi tiết";
}

<h3>Thông tin chi tiết giống nuôi <span class="badge-info rounded"> &nbsp;@Model.MaGiong &nbsp;</span></h3>
<hr />
<table class="table table-condensed table-hover table-striped offset-2 col-md-8">
    <thead>
        <tr class="row bg-secondary">
            <th class="col-md-1">STT</th>
            <th class="col-md-5"> Thông tin</th>
            <th class="col-md-6">Giá trị</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            <td class="col-md-1">1</td>
            <td class="col-md-5">
                @Html.DisplayNameFor(model => model.TenGiong)
            </td>
            <td class="col-md-6">
                @Html.DisplayFor(model => model.TenGiong)
            </td>
        </tr>
        <tr class="row">
            <td class="col-md-1">2</td>
            <td class="col-md-5"> @Html.DisplayNameFor(model => model.ThoiGianThuHoach) </td>
            <td class="col-md-6">
                @Html.DisplayFor(model => model.ThoiGianThuHoach) &nbsp; ngày
            </td>
        </tr>

    </tbody>
</table>
<div class=" offset-2 col-6">
    <form action="@Url.Action("Delete","Giongs", new { id=Model.MaGiong })" method="post">
        <a href="@Url.Action("Edit","Giongs", new { id=Model.MaGiong })" class="btn btn-primary">Sửa</a>
        @* @Html.ActionLink("Sửa", "Edit", new { id = item.MaChuong }) |*@
        <button type="submit" onclick="return confirm('Bạn chắc chắn muốn xóa chuồng @Model.MaGiong');" class="btn btn-danger">Xóa</button>

    </form>
</div>