@model QuanLyNongTraiLonThit.TienIch.Giong

@{
    ViewBag.Title = "Sửa giống nuôi";
}

<h3>Sửa giống nuôi</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal offset-2 col-md-8">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaGiong)

        <div class="form-group">
            @Html.LabelFor(model => model.TenGiong, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenGiong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenGiong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianThuHoach, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiGianThuHoach, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThoiGianThuHoach, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Cập nhật" />
                <a class="btn btn-secondary" href="/Giongs/Index">Trở về</a>
            </div>
        </div>
    </div>
}
