@model QuanLyNongTraiLonThit.TienIch.ThucAn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThucAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenThucAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThucAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaThucAn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
