@model QuanLyNongTraiLonThit.TienIch.VatNuoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VatNuoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chuong.DayChuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chuong.DayChuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giong.TenGiong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giong.TenGiong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianThuHoach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianThuHoach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianCachLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianCachLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVatNuoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
