@model QuanLyNongTraiLonThit.TienIch.PhieuXuatThucAn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuXuatThucAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatNuoi.MaChuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatNuoi.MaChuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPXTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
