@model IEnumerable<QuanLyNongTraiLonThit.TienIch.ThucAn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenThucAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenThucAn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViTinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaThucAn }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaThucAn }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaThucAn })
        </td>
    </tr>
}

</table>
