@model QuanLyNongTraiLonThit.TienIch.PhieuNhapThuoc

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhapThuoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaCungCap.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPNT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
