
@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="pt-2 bg-primary text-light text-center pb-3">Thống kê vật nuôi </h3>
@* Con vật *@
<div class="row">
    @* con vật bị bệnh *@
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Số Lợn đang bị bệnh: @Model.TongConVatBiBenh </div>
            <ul class="list-group">
                @foreach (var item in Model.ConVatBiBenh)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Details", "ConVats", new { id = item.MaVatNuoi, area = "" })" class="text-truncate mr-1" title="@item.TrangThai">@item.Chuong.DayChuong</a>
                        <span class="badge badge-primary badge-pill">@item.Giong.TenGiong</span>
                        <span class="badge badge-danger badge-pill">@item.</span>
                    </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/ConVats/BiBenh" class="text-white">Xem danh sách Lợn bệnh</a>
            </div>
        </div>
    </div>

    @* Vật nuoi sắp thu hoạch *@
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Số Lợn sắp thu hoạch: @Model.TongConVatXuatBan </div>
            <ul class="list-group">
                @foreach (var item in Model.ConVatXuatBan.OrderBy(f => f.ThoiGianThuHoach))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Details", "Convats", new { id = item.MaVatNuoi, area = "" })" class="text-truncate mr-1"
                           title="@item.TrangThai">@item.Chuong.DayChuong</a>
                        <span class="badge badge-primary badge-pill">@item.Giong.TenGiong</span>
                        <span class="badge badge-success badge-pill">@item.ThoiGianThuHoach.Value.ToShortDateString()</span>
                    </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/Convats/SapThuHoach" class="text-white"> Xem danh sách lợn có thể xuất bán</a>
            </div>
        </div>
    </div>
</div>

<hr />
<h3 class="pt-2 bg-primary text-light text-center pb-3">Thống kê thức ăn</h3>

@* Thức ăn *@
<div class="row">
    @* Thức ăn sắp hết hạn *@
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Thức ăn sắp hết hạn : @Model.TongThucAnSapHetHan </div>
            <ul class="list-group">
                @foreach (var item in Model.ThucAnSapHetHan)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Details", "ThucAns", new { id = item.MaThucAn, area = "" })" class="text-truncate mr-1" title="@item.MaThucAn'">@item.ThucAn.TenThucAn  </a>
                        <span class="badge badge-primary badge-pill">@item.PhieuNhapThucAn.NhaCungCap.TenNCC</span>
                        <span class="badge badge-primary badge-pill"> @item.HanSuDung.Value.ToShortDateString()</span>
                        <span class="badge badge-danger badge-pill">@item.SoLuongNhap </span>
                        <span> @item.ThucAn.DonViTinh</span>
                        <span> @item.GiaNhap</span>

                    </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/FoodBatch/SapHetHan" class="text-white">Xem danh sách Thức ăn sắp hết hạn</a>
            </div>
        </div>
    </div>

    @* Thuc an sap het *@
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Thức ăn sắp hết: @Model.TongThucAnSapHet </div>
            <ul class="list-group">
                @foreach (var item in Model.ThucAnSapHet.OrderByDescending(f => f.SoLuongTon))
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Details", "ThucAns", new { id = item.MaThucAn, area = "" })" class="text-truncate mr-1" title="@item.MaThucAn">@item.TenThucAn</a>
                    <span class="badge badge-primary badge-pill">@item.SoLuongTon</span>
                    <span class="badge badge-success badge-pill">@item.DonViTinh</span>
                </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/ThucAns/SapHet/" class="text-white">Xem danh sách Thức ăn sắp hết</a>
            </div>
        </div>
    </div>
</div>
<hr />
<h3 class="pt-2 bg-primary text-light text-center pb-3">Thống kê thuốc</h3>
@* Thuoc *@
@*<div class="row">
     Thuoc sắp hết hạn 
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Thuốc sắp hết hạn : @Model.TongThuocSapHetHan </div>
            <ul class="list-group">
                @foreach (var item in Model.ThuocSapHetHan)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Details", "Thuocs", new { id = item.MaThuoc, area = "" })" class="text-truncate mr-1" title="@item.MaThuoc">@item. </a>
                        <span class="badge badge-primary badge-pill">@item.Supplier.SupplierName</span>
                        <span class="badge badge-primary badge-pill"> @item.ExpiryDate.ToShortDateString()</span>
                        <span class="badge badge-danger badge-pill">@item.CurrentQuantity / @item.ImportQuantity</span>
                        <span> @item.MedicineUnit</span>
                        <span> @item.Price</span>

                    </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/MedicineBatch/SapHetHan" class="text-white">Xem chi tiết Thuốc sắp hết hạn</a>
            </div>
        </div>
    </div>*@

    @* Thuoc sap het 
    <div class="col-lg-6 col-md-6">
        <div class="card bg-primary mb-3">
            <div class="card-header text-white text-center"><i class="fas fa-book mr-3"></i>Thuốc sắp hết : @Model.TongThuocSapHet </div>
            <ul class="list-group">
                @foreach (var item in Model.ThuocSapHet.OrderByDescending(f => f.CurrentQuantity))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Details", "Medicine", new { id = item.MedicineId, area = "" })" class="text-truncate mr-1" title="@item.MedicineId">@item.MedicineName</a>
                        <span class="badge badge-primary badge-pill">@item.ProductType.ProductTypeName</span>
                        <span class="badge badge-success badge-pill">@item.CurrentQuantity / @item.TotalQuantity</span>
                    </li>
                }
            </ul>
            <div class="card-footer text-center bg-info">
                <a href="/Medicine/SapHet" class="text-white">Chi tiết</a>
            </div>
        </div>
    </div>
</div>
<hr />
        *@

