@model IEnumerable<QuanLyNongTraiLonThit.TienIch.VatNuoi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chuong.DayChuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giong.TenGiong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianThuHoach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianCachLy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chuong.DayChuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giong.TenGiong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianThuHoach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianCachLy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaVatNuoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaVatNuoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaVatNuoi })
        </td>
    </tr>
}

</table>
