@model QuanLyNongTraiLonThit.TienIch.Chuong

@{
    ViewBag.Title = "Chi tiết";
}

<h3>Thông tin chi tiết chuồng nuôi <span class="badge-info rounded"> &nbsp;@Model.MaChuong &nbsp;</span></h3>
<hr />
<table class="table table-condensed table-hover table-striped offset-2 col-md-8">
    <thead>
        <tr class="row bg-secondary">
            <th class="col-md-1">STT</th>
            <th class="col-md-5"> Thông tin</th>
            <th class="col-md-6">Giá trị</th>
        </tr>
    </thead>
    <tbody>

        <tr class="row">
            <td class="col-md-1">1</td>
            <td class="col-md-5">
                @Html.DisplayNameFor(model => model.DayChuong)
            </td>
            <td class="col-md-6">
                @Html.DisplayFor(model => model.DayChuong)
            </td>
        </tr>
        <tr class="row">
            <td class="col-md-1">2</td>
            <td class="col-md-5"> @Html.DisplayNameFor(model => model.TrangThai)</td>
            <td class="col-md-6">
                @Helper.TrangThaiChuong(Model.TrangThai)
            </td>
        </tr>



    </tbody>
</table>
<div class=" offset-2 col-6">
    <form action="@Url.Action("Delete","Chuongs", new { id=Model.MaChuong })" method="post">
        <a href="@Url.Action("Edit","Chuongs", new { id=Model.MaChuong })" class="btn btn-primary">Sửa</a>
        @* @Html.ActionLink("Sửa", "Edit", new { id = item.MaChuong }) |*@
        <button type="submit" onclick="return confirm('Bạn chắc chắn muốn xóa chuồng @Model.MaChuong');" class="btn btn-danger">Xóa</button>

    </form>
</div>

