@model QuanLyNongTraiLonThit.TienIch.Chuong

@{
    ViewBag.Title = "Sửa chuồng nuôi";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Sửa thông tin chuồng nuôi</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaChuong)

    <div class="form-group">
        @Html.LabelFor(model => model.DayChuong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DayChuong, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.DayChuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select>

            </select>

            @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Cập nhật"/>
            <a class="btn btn-secondary" href="/Admin/BookManagement/Index">Cancel</a>
        </div>
    </div>

</div>
}

