<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
    <!-- Bootstrap List Group -->
    <ul class="list-group sticky-top sticky-offset">
        <!-- Separator with title -->

        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <h5>Danh mục hệ thống</h5>
        </li>
        <!-- /END Separator -->
        <!--1 Menu with submenu QL Danh mục -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fas fa-tachometer-alt mr-3"></span>
                <span class="menu-collapsed">Danh mục quản lý</span>
                <span class="dropdown-toggle ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu1" class="collapse sidebar-submenu">
            <a href="@Url.Action("Index","Chuongs")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fas fa-book fa-fw mr-1"></span>
                <span class="menu-collapsed">Chuồng nuôi</span>
            </a>
            <a href="@Url.Action("Index","Giongs")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fas fa-swatchbook mr-1"></span>
                <span class="menu-collapsed">Giống nuôi</span>
            </a>
            <a href="@Url.Action("Index","VatNuois")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fas fa-users mr-1"></span>
                <span class="menu-collapsed">Vật nuôi</span>
            </a>
            <a href="@Url.Action("Index","Thuocs")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fas fa-building mr-1"></span>
                <span class="menu-collapsed">Thuốc</span>
            </a>
            <a href="@Url.Action("Index","ThucAns")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fas fa-building mr-1"></span>
                <span class="menu-collapsed">Thức ăn</span>
            </a>
        </div>

        <!--2 Menu with submenu QL chức năng -->
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Chức năng</span>
                <span class="dropdown-toggle ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu2" class="collapse sidebar-submenu">
            <a href="@Url.Action("Create","NhapVatNuoi")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập vật nuôi</span>
            </a>
            <a href="@Url.Action("Create","NhapThucAn")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập thức ăn</span>
            </a>
            <a href="@Url.Action("Index","NhapThuoc")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập thuốc</span>
            </a>
            <a href="@Url.Action("Create","XuatVatNuoi")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất vật nuôi</span>
            </a>
            <a href="@Url.Action("Index","XuatThucAn")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất thức ăn</span>
            </a>
            <a href="@Url.Action("Create","XuatThuoc")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất thuốc</span>
            </a>
        </div>

        <!--3 Menu with submenu Truy xuất lịch sử -->
        <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Lịch sử nhập xuất</span>
                <span class="dropdown-toggle ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu3" class="collapse sidebar-submenu">
            <a href="@Url.Action("Index","NhapVatNuoi")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập vật nuôi</span>
            </a>
            <a href="@Url.Action("Index","NhapThucAn")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập thức ăn</span>
            </a>
            <a href="@Url.Action("Index","NhapThuoc")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Nhập thuốc</span>
            </a>
            <a href="@Url.Action("Index","XuatVatNuoi")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất vật nuôi</span>
            </a>
            <a href="@Url.Action("Index","XuatThucAn")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất thức ăn</span>
            </a>
            <a href="@Url.Action("Index","XuatThuoc")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-users-cog fa-fw mr-3"></span>
                <span class="menu-collapsed">Xuất thuốc</span>
            </a>
        </div>

        <!--4 Menu with submenu Thống kê-->
        <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Thống kê</span>
                <span class="dropdown-toggle ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu4" class="collapse sidebar-submenu">
            <a href="@Url.Action("TongDoanhThu","XuatVatNuoi")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Tổng doanh thu</span>
            </a>
            <a href="@Url.Action("SuDungNhieu","XuatThucAn")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Thức ăn dùng nhiều</span>
            </a>
            <a href="@Url.Action("SuDungNhieu","XuatThuoc")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Thuốc sử dụng nhiều</span>
            </a>
            <a href="@Url.Action("ChiPhiNuoi","Home")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Chi phí nuôi</span>
            </a>

        </div>

        <!--4 Menu with submenu Hiện trạng-->
        <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="bg-primary list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Hiện trạng</span>
                <span class="dropdown-toggle ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu4" class="collapse sidebar-submenu">
            <a href="@Url.Action("XuatBan","VatNuois")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Lợn sắp thu hoạch</span>
            </a>
            <a href="@Url.Action("BiBenh","VatNuois")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Lợn bị bệnh</span>
            </a>
            <a href="@Url.Action("SapHet","ThucAns")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Thức ăn sắp hết</span>
            </a>
            <a href="@Url.Action("SapHet","Thuocs")" class="list-group-item list-group-item-action bg-info text-white">
                <span class="fa fa-user fa-fw mr-3"></span>
                <span class="menu-collapsed">Thuốc sắp hết</span>
            </a>

        </div>


        <a href="#" data-toggle="sidebar-colapse" class="bg-primary list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
        </a>

    </ul>
    <!-- List Group END-->
</div>
